= turbo_stream_from dom_id(@album)
= turbo_frame_tag @album do
  .flex.flex-col.gap-4.h-full
    = turbo_frame_tag dom_id(@album, :edit) do
      .flex.justify-between.items-center.w-full
        %h2.text-2xl.font-medium= @album.name
        %div.flex.gap-2
          = action_button nil, edit_album_path(@album), icon: 'pencil', class: 'primary-button'
          = button_to @album, method: :delete, data: { turbo_confirm: true, turbo_frame: "_top" }, class: 'flex gap-2 danger-button' do
            = icon 'trash', variant: 'solid', class: 'w-4'
      %p.mt-2.italic= @album.description
    .flex-1.overflow-y-auto.scrollbar-hidden
      .columns-2.md:columns-3.lg:columns-4.gap-4{ id: dom_id(@album, :show) }
        - @attachments.each do |attachment|
          = render partial: 'attachments/attachment', locals: { attachment: attachment }
